  .container_shelter_form {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .loadImage {
      display: flex;
      gap: 10px;
      align-items: center;

      .textImage {
        font-size: 0.8rem;
      }

      .loadingImage {
        width: 50px;
        height: 50px;
        border-radius: 150%;
      }
    }
  }
