@import "../../app/app.module.scss";

.admin {
  transition: filter 0.3s ease;
  padding: 20px;
  margin: 0 auto;
  overflow: scroll;

  .container_buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .icon {
    margin-top: 10px;
    font-size: 30px;
    color: $color-secondary;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: $color-black;
      transform: scale(1.1);
    }
  }
}

.admin_disabled {
  filter: blur(2px);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  padding-left: 0px;
}

th,
td {
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #DDDDDD;

  img {
    width: 50px;
    height: 50px;
    border-radius: 150px;
    object-fit: cover;

    &:hover {
      transform: scale(1.1);
      opacity: 0.8;
    }
  }

  span {
    font-size: 30px;
    color: $color-secondary;
    cursor: pointer;

    &:hover {
      color: $color-black;
      transform: scale(1.1);
    }
  }
}

th {
  color: $color-secondary;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.no_registered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 50px;
  font-size: 20px;
}
