.container_cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 40px;

  @media (max-width: 1080px) {
    gap: 50px;
  }

  .link {
    text-decoration: none;
  }
}

.total_dogs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
