@import '../../app/app.module.scss';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 350px;
  box-sizing: border-box;
  margin: 0 auto;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0px 0px 10px 0px #8B9AB4;

  .title {
    font-size: 20px;
    font-weight: 500;
    color: #8B9AB4;
    margin-bottom: 10px;
  }

  .user_type_container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .inputs {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: right;
    padding: 10px;
    color: #8B9AB4;

    button {
      margin: 0 auto;
      cursor: pointer;
    }
  }

}
