  .adoption_request_card {
    margin-bottom: 10px;


    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-radius: 20px;
      transition: all 0.3s ease;

      .icon {
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }

      .status {
        border: 1px solid #e0e0e0;
        padding: 5px;
        border-radius: 5px;

        &_accepted {
          background-color: rgb(196, 218, 196)
        }

        &_rejected {
          background-color: rgb(185, 91, 91);
        }

        &_pending {
          background-color: rgb(230, 230, 142)
        }
      }

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 120px;
      }
    }

    .expanded_content {
      padding: 10px;
      display: flex;
      flex-direction: column;
      background-color: #f7f4f4;

      p {
        margin-bottom: 8px;
      }

      .actions {
        display: flex;
        gap: 10px;
        justify-content: center;

        .button_accepted {
          border: none;
          padding: 10px;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background-color: #91bc93;
          }
        }

        .button_rejected {
          border: none;
          padding: 10px;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background-color: rgb(185, 91, 91);
          }
        }
      }
    }
  }
