@import '../../app/app.module.scss';

.container_dog_form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  margin-top: 100px;
  padding-bottom: 100px;

  .dog_form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
    background-color: $color-primary-light;

    .gender {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 10px;

      label {
        display: flex;
        cursor: pointer;

        input[type="radio"] {
          margin-right: 5px;
        }
      }
    }

    .age {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    .loadImage {
      display: flex;
      gap: 10px;

      .textImage {
        font-size: 0.8rem;
      }

      .loadingImage {
        width: 50px;
        height: 50px;
        border-radius: 150%;
      }
    }

    .container_personality {
      display: flex;
      flex-direction: column;
      padding: 10px 10px 20px 10px;

      .personalities {
        display: flex;
        gap: 10px;
        flex-grow: 1;
        overflow: scroll;
        font-size: 0.7em;
        text-align: center;

        input {
          width: 50px;
          margin: 0 auto;
          cursor: pointer;
        }
      }
    }

  }

  .dog_form h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .dog_form input,
  .dog_form select,
  .dog_form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }

  .breed {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    label {
      cursor: pointer;
      text-align: center;
    }

    input[type="radio"] {
      margin-right: 5px;
    }
  }
}
